/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*** COLORS ***/

/* FORM FOCUS */
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
#mr-contact textarea:focus + label{
    color: #64b5f6;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
#mr-contact textarea:focus
{
    border-bottom: 1px solid #64b5f6;
    box-shadow: 0 1px 0 0 #64b5f6 ;
}

/******/

#mr-about-me {
    padding: 40px 15px 10px;
}

#mr-social {
    padding-top: 20px;
}

#mr-social .mdi {
    margin-left: -10px;
    margin-right: 10px;
}

h2 {
    font-size: 30px;
}